<div class="wholewelcome">
<div id="welcomebody">

  <h1>Welcome to Metacog!</h1>

  <br><p>Metacognition is the ability to make judgments about our own thoughts.<br> Strengthening your metacognition increases your awareness and understanding of your thinking process.</p>

  <p>Metacog is a web application that allows you to easily record your daily feelings at the end of a work day.</p>

  <p>It provides you with a simple and easy-to-use interface to enter information about your mood and perceived reasons for that mood.  Metacog stores that data, and helps you gain a better long-term understanding of job satisfaction.</p><br>

  <%= link_to "Register", register_path %><br>

  <br><%= link_to "Sign In", signin_path %><br>


  <br><h3>Step 1: Register or Sign In<h3>
    <h3>Step 2: Record Your Mood<h3>
      <h3>Step 3: Build Your Metacognition<h3>

</div>
</div>
