
.welcomebody {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
  width: 750px;
}

.welcomelinks {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.welcomesteps {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
  width: 750px;
}

