<div class="register_page">

  <div id="register_form">
    <h1>Register Your Metacog Account</h1>

    <%= render "register_form" %>

    <br><%= link_to "Back to Welcome", root_path %>
  </div>
</div>
