<div class="showmoodpage">
  <h2>Your mood for <%= @mood.date %></h2>
  <p>Mood rating: <%= @mood.rating %> </p>
  <p>Primary reason: <%= @mood.reason %></p>
  <p>Narrative: <%= @mood.narrative %></p>
</div>
